
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.btn-custom {
    background-color: #007bff;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.about-link {
    color: black;
    margin-right: 20px;
}